# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/fibonacci-api/node_modules
/fibonacci-ui/node_modules
/.pnp
.pnp.js

# testing
/fibonacci-api/coverage
/fibonacci-ui/coverage
# production
/fibonacci-ui/build

